<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} - gelbooru-crawler</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">{% sidebar.html %}</div>
        <div class="span9">{{ content }}</div>
    </div>

    <footer>
        <div class="row-fluid">
            <div class="span12" style="text-align: center;">
                gelbooru-crawler - {{ page.version }}
            </div>
        </div>
    </footer>
</div>
</body>
</html>
